@media screen and (min-width: 1024px) {
/*header*/
.opções {
    display:flex;
    align-items: center;
    width: 50vw;
    justify-content: flex-end;
    margin-right: 70px;
}

.opções_item{
    list-style: none;
    padding: 0 2em;
}

.opções_item a{
    text-decoration: none;
    color: #0B4619;
    font-size: 18px;
    font-weight: 400;
}

.opções_item a:hover{
    color: #33BB69;
}

.home {
    font-size: 18px;
    font-weight: 400;
}
.cabeçalho_menu_hamburguer {
    display: none;
}

/*main*/
.banner {
    gap: 80px;
}

.banner h1 {
padding-top: 10px;
padding-right: 71px;
padding-left: 72px;
}

.especies {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;

}
.card {
    width: 23%;
    height: 510px;
}
.card_texto {
    width:23%;
}
.card img {
    width: 23%;
    height: 255px;
}
main {
    width: 100vw;
    height: auto;
}
}