@media screen and (min-width: 1024px) {
/*header*/
.opções {
    display:flex;
    align-items: center;
    width: 50vw;
    margin-right: 70px;
}
.opções_item{
    list-style: none;
    padding: 0 2em;
}
.opções_item a{
    text-decoration: none;
    color: #0B4619;
    font-size: 18px;
    font-weight: 400;
}
.opções_item a:hover{
    color: fuchsia;
}
.home {
    color: #33BB69;
    font-size: 18px;
    font-weight: 400;
}
.cabeçalho_menu_hamburguer {
    display: none;
}

/*main*/
.especies {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    width: 23%;
}
.card_texto {
    width:23%
}
}
